@import url(https://fonts.googleapis.com/css?family=Roboto:400,100,100italic,300,300italic,400italic,500,900italic,900,700italic,700,500italic&subset=latin,vietnamese);
body {
  font-family: 'Roboto', sans-serif;
  font-size: 16px;
  line-height: 21px;
  font-weight: 300;
  color: black;
}
strong,
b {
  font-weight: 600;
}
img {
  max-width: 100%;
  height: auto;
}
ul,
ol {
  list-style: none;
}
ul {
  padding: 0;
  margin: 0;
}
a {
  transition: color 0.2s ease-in-out;
  -moz-transition: color 0.2s ease-in-out;
  -webkit-transition: color 0.2s ease-in-out;
  -o-transition: color 0.2s ease-in-out;
}
a:hover {
  color: #444;
}
a,
a:hover {
  text-decoration: none;
}
i {
  font-size: 1.1em;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: 'Roboto', sans-serif;
  font-weight: 700;
  margin: 0;
  color: #444;
}
h1 {
  font-size: 30px;
  line-height: 30px;
}
h2 {
  font-size: 24px;
  line-height: 28px;
}
h3 {
  font-size: 20px;
  line-height: 24px;
}
h4 {
  font-size: 18px;
  line-height: 22px;
}
h5 {
  font-size: 16px;
  line-height: 20px;
}
h6 {
  font-size: 14px;
  line-height: 18px;
}
p {
  color: black;
  font-size: 18px;
  font-family: 'Roboto', sans-serif;
  line-height: 26px;
  font-weight: 400;
  margin: 1px 0;
}
p strong {
  font-weight: 600;
}
/*----------------------------------------------------*/
/*	General Class
/*----------------------------------------------------*/
/* Title, head-line */
/* Title, head-line */
.title {
  position: relative;
  text-transform: uppercase;
  padding-bottom: 8px;
  margin-bottom: 20px;
  color: red;
}
.title .head-line {
  position: absolute;
  bottom: 0;
  left: 0;
  display: block;
  width: 50px;
  height: 3px;
  margin: 0;
  background-color: red;
}
/* Back to top */
.back-to-top {
  display: none;
  position: fixed;
  bottom: 20px;
  left: 15px;
}
.back-to-top i {
  display: block;
  width: 36px;
  height: 36px;
  color: #fff;
  text-align: center;
  background-color: #444;
  transition: all 0.2s linear;
  -moz-transition: all 0.2s linear;
  -o-transition: all 0.2s linear;
  -webkit-transition: all 0.2s linear;
}
/* Post Horizontal */
.post-horizontal {
  width: 100%;
  padding-bottom: 20px;
  border-bottom: 1px solid #ecf0f1;
  margin-bottom: 20px;
}
.post-horizontal .post-thumbnail {
  float: left;
  width: 30%;
}
.post-horizontal .post-content {
  float: left;
  width: 70%;
  padding: 0 1% 0 15px;
}
.post-horizontal .post-content .post-title {
  margin-bottom: 10px;
}
.post-horizontal .post-content .post-title a {
  color: red;
  line-height: 26px;
  text-transform: capitalize;
}
.post-horizontal .post-content .post-title a:hover {
  transition: all 0.2s linear;
  -moz-transition: all 0.2s linear;
  -o-transition: all 0.2s linear;
  -webkit-transition: all 0.2s linear;
  color: #FFA726;
}
.post-horizontal .post-content .post-date {
  color: gray;
  font-size: 14px;
  margin: 3px 0;
}
.post-horizontal .post-content .post-meta {
  overflow: hidden;
  display: -webkit-box;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;
}
/* Post Vertical */
.post-vertical {
  width: 100%;
  height: 300px;
  margin-bottom: 20px;
}
.post-vertical a {
  transition: all 0.2s linear;
  -moz-transition: all 0.2s linear;
  -o-transition: all 0.2s linear;
  -webkit-transition: all 0.2s linear;
}
.post-vertical a .preview {
  height: 150px;
  width: auto;
}
.post-vertical a .preview img {
  width: 100%;
  height: 100%;
}
.post-vertical a .post-title {
  margin-top: 10px;
  text-transform: capitalize;
  color: red;
}
.post-vertical a:hover .post-title {
  transition: all 0.2s linear;
  -moz-transition: all 0.2s linear;
  -o-transition: all 0.2s linear;
  -webkit-transition: all 0.2s linear;
  color: #FFA726;
}
.post-vertical .post-date {
  color: gray !important;
  font-size: 14px;
  margin: 2px 0;
}
.post-vertical .post-meta {
  font-size: 15px;
  overflow: hidden;
  display: -webkit-box;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;
  line-height: 20px;
}
/* Post Big */
.post-big {
  width: 100%;
  height: 250px;
  position: relative;
  overflow: hidden;
  margin-bottom: 30px;
  border: 1px solid #BDBDBD;
}
.post-big a {
  width: 100%;
  height: 100%;
  z-index: 1;
}
.post-big a .preview {
  width: 100%;
  height: 100%;
}
.post-big a .caption {
  background-color: red;
  opacity: 0.9;
  position: absolute;
  z-index: 10;
  bottom: 0;
  left: 0;
  width: 100%;
  padding: 3%;
}
.post-big a .caption .post-title,
.post-big a .caption .post-date {
  color: white;
  text-transform: capitalize;
}
.post-big a .caption .post-date {
  font-size: 14px;
}
.post-big a img {
  transition: all 0.3s linear;
  -moz-transition: all 0.3s linear;
  -o-transition: all 0.3s linear;
  -webkit-transition: all 0.3s linear;
  opacity: 1;
}
.post-big a:hover img {
  transition: all 0.3s linear;
  -moz-transition: all 0.3s linear;
  -o-transition: all 0.3s linear;
  -webkit-transition: all 0.3s linear;
  transform: scale(1.1, 1.1);
}
/* Footer */
footer {
  /*max-height:500px !important;*/
  background-color: #d10000;
  padding: 20px 0 10px 0;
}
footer .widget-fanpage .fb-page {
  width: 100%;
}
footer [class^="col"] {
  margin-bottom: 0.5%;
}
footer .footer-widgets .title {
  color: white !important;
  font-size: 14px;
  margin-bottom: 8px;
}
footer .footer-widgets .head-line {
  background-color: white;
}
footer .widget-news a {
  color: white !important;
  font-size: 12px;
}
footer .widget-contact p {
  color: white;
  font-size: 13px;
  margin-bottom: 1px 0 !important;
}
footer .copyright {
  color: white;
  font-size: 10px;
  padding: 0;
}
footer .center {
  color: white;
  font-size: 13px;
}
/* bg orange */
.bg-orange {
  border-bottom: 2px solid orangered;
  margin-bottom: 20px;
}
.bg-orange .title-part {
  color: white;
  background-color: orangered;
  padding: 5px 13px 0 13px;
}
/* bg black */
.bg-black {
  border-bottom: 2px solid black;
  margin-bottom: 20px;
}
.bg-black .title-part {
  color: white;
  background-color: black;
  padding: 5px 13px 0 13px;
}
/* bg green */
.bg-green {
  border-bottom: 2px solid #2ecc71;
  margin-bottom: 20px;
}
.bg-green .title-part {
  color: white;
  background-color: #2ecc71;
  padding: 5px 13px 0 13px;
}
/* bg red */
.bg-red {
  border-bottom: 2px solid red;
  margin-bottom: 20px;
}
.bg-red .title-part {
  color: white;
  background-color: red;
  padding: 5px 13px 0 13px;
}
/* bg sky */
.bg-sky {
  border-bottom: 2px solid #3498db;
  margin-bottom: 20px;
}
.bg-sky .title-part {
  color: white;
  background-color: #3498db;
  padding: 5px 13px 0 13px;
}
/* Phân trang */
.pager input {
  color: #fff;
  background-color: #ee3733;
  border-color: #d43f3a;
  display: inline-block;
  margin-bottom: 0;
  font-weight: 400;
  text-align: center;
  white-space: nowrap;
  vertical-align: middle;
  -ms-touch-action: manipulation;
  touch-action: manipulation;
  cursor: pointer;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  background-image: none;
  border: 1px solid transparent;
  padding: 10px 13px;
  font-size: 18px;
  line-height: 1.3333333;
  border-radius: 6px;
}
.pager input:hover {
  background-color: #666;
  transition: all 0.2s linear;
}
.pager span a {
  margin: 0 5px;
  font-size: 20px;
}
/* Menu */
div.navbar .navbar-collapse {
  margin-top: 1%;
}
div.navbar ul.nav li .fa-home {
  margin-top: -35%;
}
div.navbar ul.nav li > a {
  color: black;
  font-size: 15px;
  font-weight: 400;
  text-transform: uppercase;
}
div.navbar ul.nav li:hover > a,
div.navbar ul.nav li:focus > a,
div.navbar ul.nav li:active > a {
  transition: all 0.2s linear;
  -moz-transition: all 0.2s linear;
  -o-transition: all 0.2s linear;
  -webkit-transition: all 0.2s linear;
  color: orangered;
  background-color: transparent !important;
}
div.navbar ul.nav li.dropdown > ul.dropdown-menu li a {
  color: black;
  font-size: 17px;
  transition: all 0.2s linear;
  -moz-transition: all 0.2s linear;
  -o-transition: all 0.2s linear;
  -webkit-transition: all 0.2s linear;
  border-bottom: 1px solid #ECEFF1;
  padding-top: 8px;
  padding-bottom: 8px;
}
div.navbar ul.nav li.dropdown > ul.dropdown-menu li a:hover {
  transition: all 0.2s linear;
  -moz-transition: all 0.2s linear;
  -o-transition: all 0.2s linear;
  -webkit-transition: all 0.2s linear;
  color: white !important;
  background-color: orangered !important;
}
/* Menu Fixed Top */
div.navbar.navbar-fixed-top {
  background-color: white;
}
div.navbar.navbar-fixed-top .navbar-collapse {
  margin-top: 1%;
}
div.navbar.navbar-fixed-top ul.nav li .fa-home {
  margin-top: -35%;
}
div.navbar.navbar-fixed-top ul.nav li > a {
  color: black;
  font-size: 15px;
  font-weight: 400;
  text-transform: uppercase;
}
div.navbar.navbar-fixed-top ul.nav li:hover > a {
  transition: all 0.2s linear;
  -moz-transition: all 0.2s linear;
  -o-transition: all 0.2s linear;
  -webkit-transition: all 0.2s linear;
  color: orangered;
}
div.navbar.navbar-fixed-top ul.nav li.dropdown > ul.dropdown-menu li a {
  color: black;
  font-size: 17px;
  transition: all 0.2s linear;
  -moz-transition: all 0.2s linear;
  -o-transition: all 0.2s linear;
  -webkit-transition: all 0.2s linear;
  border-bottom: 1px solid #ECEFF1;
  padding-top: 8px;
  padding-bottom: 8px;
}
div.navbar.navbar-fixed-top ul.nav li.dropdown > ul.dropdown-menu li a:hover {
  transition: all 0.2s linear;
  -moz-transition: all 0.2s linear;
  -o-transition: all 0.2s linear;
  -webkit-transition: all 0.2s linear;
  color: white !important;
  background-color: orangered !important;
}
.text-white {
  color: white;
}
/* Breadcrums */
.breadcrumb {
  background-color: white;
  padding: 0;
}
/* error-page */
.error-page {
  padding: 180px 0;
}
.error-page .txt-number {
  font-size: 160px;
  line-height: 140px;
  font-weight: 700;
  color: #333;
}
.error-page .txt-notfound {
  font-size: 64px;
  line-height: 70px;
  font-weight: 300;
}
.error-page .txt-sorry {
  font-size: 22px;
  line-height: 28px;
  color: #666;
  margin-bottom: 25px;
}
.notes {
  color: red;
}
/* Sidebar */
.sidebar-widgets {
  margin-bottom: 60px;
}
/* Related Posts */
.post-related .post-vertical .preview {
  width: 100%;
  height: 150px;
}
.post-related .post-vertical .preview img {
  width: 100%;
  height: 150px;
}
/*============ Popup Modal =============*/
.modal {
  margin-top: -50px;
}
.modal-lg {
  width: 1200px;
}
.modal-content {
  background-color: transparent !important;
  border: none !important;
  box-shadow: none !important;
}
.modal-content .img-responsive {
  padding-right: 20px;
}
a.close img {
  background-color: black;
  opacity: 1 !important;
  margin-bottom: 0px;
  width: 35px;
  height: 35px;
}
.footer-logo {
  height: 50px;
  padding-left: 10px;
  border: 1px solid white;
}
.footer-logo img {
  height: 50px;
}
/*============ End Popup Modal =============*/
/*============ Fanpage =============*/
.fanpage {
  position: fixed;
  top: 30%;
  left: 0;
}
/*============ End Fanpage =============*/
/*============ Popup Fixed ==============*/
.popup-fixed {
  position: fixed;
  right: 0;
  top: 35%;
}
.popup-fixed .popup {
  width: 100px;
  height: 120px;
}
/*============ End Popup Fixed ==============*/
/*----------------------------------------------------*/
/*	Trang Chủ
/*----------------------------------------------------*/
#TrangChu {
  /* Học tiếng anh, Tin tức */
  /* Tin Tức */
  /* Sự Kiện */
  /* Chuyên Mục */
  /* Học tiếng anh */
  /* Nhận quà */
}
#TrangChu #owl-hoctienganh .item,
#TrangChu #Tintuc .item {
  margin: 3px;
}
#TrangChu #owl-hoctienganh .item img,
#TrangChu #Tintuc .item img {
  display: block;
  width: 100%;
  height: auto;
}
#TrangChu #owl-TinTuc .post .preview {
  height: 170px;
}
#TrangChu #owl-TinTuc .post .preview img {
  height: 170px;
  width: 100%;
}
#TrangChu #owl-TinTuc .post .post-title {
  font-size: 100%;
  color: white;
  height: 60px;
  line-height: 120%;
  text-transform: capitalize;
}
#TrangChu #owl-TinTuc .post .caption {
  background-color: #e74c3c;
}
#TrangChu #owl-TinTuc .item {
  padding-left: 5px;
  padding-right: 5px;
}
#TrangChu #Sukien .post-horizontal .post-thumbnail {
  width: 10%;
  border: 1px solid #bdc3c7;
  border-radius: 4px;
  -moz-border-radius: 4px;
  -webkit-border-radius: 4px;
}
#TrangChu #Sukien .post-horizontal .post-thumbnail .month {
  border-top-left-radius: 4px;
  border-top-right-radius: 4px;
  background-color: #e74c3c;
  color: white;
  text-align: center;
  margin-top: 0;
  font-size: 15px;
  padding-top: 1px;
  padding-bottom: 1px;
}
#TrangChu #Sukien .post-horizontal .post-thumbnail .day {
  text-align: center;
  font-size: 15px;
  font-weight: bold;
  height: 30px;
  padding-bottom: 40px;
}
#TrangChu #Sukien .post-horizontal .post-content {
  width: 90%;
}
#TrangChu #Sukien .post-horizontal .post-content .post-meta {
  font-size: 14px;
  line-height: 20px;
  text-align: justify;
}
#TrangChu #Sukien .post-horizontal .post-content .post-title {
  color: #f44336;
  transition: all 0.2s linear;
  -moz-transition: all 0.2s linear;
  -o-transition: all 0.2s linear;
  -webkit-transition: all 0.2s linear;
}
#TrangChu #Sukien .post-horizontal .post-content .post-title:hover {
  transition: all 0.2s linear;
  -moz-transition: all 0.2s linear;
  -o-transition: all 0.2s linear;
  -webkit-transition: all 0.2s linear;
  color: #FFA726;
}
#TrangChu .ChuyenMuc .thumbnail {
  position: relative;
  padding: 0;
  /*border: 3px solid red;*/
}
#TrangChu .ChuyenMuc .thumbnail a .overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: black;
  z-index: 999;
  opacity: 0;
}
#TrangChu .ChuyenMuc .thumbnail a .overlay .fa {
  position: absolute;
  top: 45%;
  left: 47%;
  color: white;
}
#TrangChu .ChuyenMuc .thumbnail a .preview {
  height: 150px;
  overflow: hidden;
}
#TrangChu .ChuyenMuc .thumbnail a .preview img {
  height: 150px;
  width: 100%;
}
#TrangChu .ChuyenMuc .thumbnail a:hover .overlay {
  opacity: 0.6;
  transition: all 0.2s linear;
  -moz-transition: all 0.2s linear;
  -o-transition: all 0.2s linear;
  -webkit-transition: all 0.2s linear;
}
#TrangChu .ChuyenMuc .thumbnail a .post-title {
  color: red;
}
#TrangChu .HocTiengAnh .thumbnail {
  min-height: 450px;
  padding: 5% 10%;
  transition: all 0.3s linear;
  -moz-transition: all 0.3s linear;
  -o-transition: all 0.3s linear;
  -webkit-transition: all 0.3s linear;
}
#TrangChu .HocTiengAnh .thumbnail:hover {
  transition: all 0.3s linear;
  -moz-transition: all 0.3s linear;
  -o-transition: all 0.3s linear;
  -webkit-transition: all 0.3s linear;
  background-color: orange;
}
#TrangChu .HocTiengAnh .thumbnail:hover .tieude {
  color: white;
}
#TrangChu .HocTiengAnh .thumbnail .preview {
  overflow: hidden;
  width: 100%;
  height: 170px;
}
#TrangChu .HocTiengAnh .thumbnail .preview img {
  width: 100%;
  height: 170px;
}
#TrangChu .HocTiengAnh .thumbnail .meta {
  display: -webkit-box;
  -webkit-line-clamp: 4;
  -webkit-box-orient: vertical;
  overflow: hidden;
  height: 100px;
}
#TrangChu .HocTiengAnh .thumbnail .tieude {
  height: 70px;
  color: red;
}
#TrangChu #Nhanqua .khauhieu {
  line-height: 150%;
  font-weight: 500;
  margin-left: 15%;
  font-size: 200%;
}
#TrangChu section {
  margin-bottom: 1%;
}
/*----------------------------------------------------*/
/*	Albums
/*----------------------------------------------------*/
#Albums #owl-album-1 .item .preview {
  width: 100%;
  height: 130px;
}
#Albums #owl-album-1 .item .preview img {
  width: 100%;
  height: 130px;
}
#Albums #owl-album-1 .item {
  position: relative;
  margin: 3px;
}
#Albums #owl-album-1 .item img {
  display: block;
  width: 100%;
  height: auto;
}
#Albums #owl-album-1 .item a {
  width: 100%;
  height: 100%;
  transition: all 0.3s linear;
  -moz-transition: all 0.3s linear;
  -o-transition: all 0.3s linear;
  -webkit-transition: all 0.3s linear;
}
#Albums #owl-album-1 .item a i {
  position: absolute;
  top: 40%;
  left: 40%;
  opacity: 0;
}
#Albums #owl-album-1 .item a:hover i {
  transition: all 0.2s linear;
  -moz-transition: all 0.2s linear;
  -o-transition: all 0.2s linear;
  -webkit-transition: all 0.2s linear;
  opacity: 1;
  color: white;
}
#Albums #owl-album-1 .item a:hover img {
  transition: all 0.2s linear;
  -moz-transition: all 0.2s linear;
  -o-transition: all 0.2s linear;
  -webkit-transition: all 0.2s linear;
  opacity: 0.7;
}
/*----------------------------------------------------*/
/*	Blogs
/*----------------------------------------------------*/
/*----------------------------------------------------*/
/*	ChiTiet
/*----------------------------------------------------*/
#ChiTiet .post-detail .post-content {
  font-family: 'Roboto', sans-serif;
}
#ChiTiet .post-detail .post-title {
  margin-bottom: 10px;
}
#ChiTiet .post-detail .share-buttons {
  margin: 10px 0;
}
#ChiTiet .post-detail .post-content {
  line-height: 26px;
}
#ChiTiet .post-detail .fb-comments {
  margin: 30px 0;
}
/*----------------------------------------------------*/
/*	ChuongTrinhHoc
/*----------------------------------------------------*/
/*----------------------------------------------------*/
/*	ChuyenMuc
/*----------------------------------------------------*/
/*----------------------------------------------------*/
/*	Events
/*----------------------------------------------------*/
/*----------------------------------------------------*/
/*	Faq
/*----------------------------------------------------*/
/*----------------------------------------------------*/
/*	GioiThieu
/*----------------------------------------------------*/
#GioiThieu .HocTiengAnh .thumbnail {
  min-height: 450px;
  padding: 5% 10%;
  transition: all 0.3s linear;
  -moz-transition: all 0.3s linear;
  -o-transition: all 0.3s linear;
  -webkit-transition: all 0.3s linear;
}
#GioiThieu .HocTiengAnh .thumbnail:hover {
  transition: all 0.3s linear;
  -moz-transition: all 0.3s linear;
  -o-transition: all 0.3s linear;
  -webkit-transition: all 0.3s linear;
  background-color: orange;
}
#GioiThieu .HocTiengAnh .thumbnail:hover .tieude {
  color: white;
}
#GioiThieu .HocTiengAnh .thumbnail .preview {
  overflow: hidden;
  width: 100%;
  height: 170px;
}
#GioiThieu .HocTiengAnh .thumbnail .preview img {
  width: 100%;
  height: 170px;
}
#GioiThieu .HocTiengAnh .thumbnail .meta {
  display: -webkit-box;
  -webkit-line-clamp: 4;
  -webkit-box-orient: vertical;
  overflow: hidden;
  height: 100px;
}
#GioiThieu .HocTiengAnh .thumbnail .tieude {
  height: 70px;
  color: red;
}
/*----------------------------------------------------*/
/*	KetQuaTimKiem
/*----------------------------------------------------*/
/*----------------------------------------------------*/
/*	LichKhaiGiang
/*----------------------------------------------------*/
/*----------------------------------------------------*/
/*	LienHe
/*----------------------------------------------------*/
#LienHe #Map {
  height: 350px;
  margin-bottom: 30px;
}
#LienHe #Map .embed-responsive {
  height: 350px;
}
#LienHe #Map iframe {
  height: 350px;
}
/*----------------------------------------------------*/
/*	OnePost
/*----------------------------------------------------*/
/*----------------------------------------------------*/
/*	TinTuc
/*----------------------------------------------------*/
/*----------------------------------------------------*/
/*	TuyenDung
/*----------------------------------------------------*/
/*----------------------------------------------------*/
/*	XemNhieu
/*----------------------------------------------------*/
