.title {
  position: relative;
  text-transform: uppercase;
  padding-bottom: 8px;
  margin-bottom: 20px;
  color: black;
}
.title .head-line {
  position: absolute;
  bottom: 0;
  left: 0;
  display: block;
  width: 50px;
  height: 3px;
  margin: 0;
  background-color: #e74c3c;
}
.back-to-top {
  display: none;
  position: fixed;
  bottom: 50px;
  right: 15px;
}
.back-to-top i {
  display: block;
  width: 36px;
  height: 36px;
  color: #fff;
  text-align: center;
  background-color: #444;
  transition: all 0.2s linear;
  -moz-transition: all 0.2s linear;
  -o-transition: all 0.2s linear;
  -webkit-transition: all 0.2s linear;
}
/********************** Post Horizontal & Vertical *******************/
/* Post Horizontal */
.post-horizontal {
  width: 100%;
  padding-bottom: 20px;
  border-bottom: 1px solid #ecf0f1;
  margin-bottom: 20px;
}
.post-horizontal .post-thumbnail {
  float: left;
  width: 30%;
}
.post-horizontal .post-content {
  float: left;
  width: 70%;
  padding: 0 1% 0 15px;
}
.post-horizontal .post-content .post-title {
  margin-bottom: 10px;
}
.post-horizontal .post-content .post-title a {
  color: black;
  line-height: 26px;
}
.post-horizontal .post-content .post-title a:hover {
  transition: all 0.2s linear;
  -moz-transition: all 0.2s linear;
  -o-transition: all 0.2s linear;
  -webkit-transition: all 0.2s linear;
  color: orangered;
}
.post-horizontal .post-content .post-date {
  color: gray;
  font-size: 14px;
  margin: 3px 0;
}
.post-horizontal .post-content .post-meta {
  overflow: hidden;
  display: -webkit-box;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;
}
/* Post Vertical */
.post-vertical {
  width: 100%;
  height: 300px;
  margin-bottom: 40px;
}
.post-vertical a {
  color: black;
  transition: all 0.2s linear;
  -moz-transition: all 0.2s linear;
  -o-transition: all 0.2s linear;
  -webkit-transition: all 0.2s linear;
}
.post-vertical a .preview {
  height: 150px;
  width: auto;
}
.post-vertical a .preview img {
  width: 100%;
  height: 100%;
}
.post-vertical a .post-title {
  margin-top: 10px;
}
.post-vertical a:hover .post-title {
  transition: all 0.2s linear;
  -moz-transition: all 0.2s linear;
  -o-transition: all 0.2s linear;
  -webkit-transition: all 0.2s linear;
  color: orangered;
}
.post-vertical .post-date {
  color: gray !important;
  font-size: 14px;
  margin: 2px 0;
}
.post-vertical .post-meta {
  font-size: 15px;
  overflow: hidden;
  display: -webkit-box;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;
  line-height: 20px;
}
/********************** End .post *******************/
/********************** Chuyên Mục - Trang Chủ *************************************/
.ChuyenMuc .thumbnail {
  position: relative;
  overflow: hidden;
}
.ChuyenMuc .thumbnail img {
  transition: all 0.4s linear;
  -moz-transition: all 0.4s linear;
  -o-transition: all 0.4s linear;
  -webkit-transition: all 0.4s linear;
}
.ChuyenMuc .thumbnail .caption {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: orangered;
  opacity: 0;
  z-index: 1;
  transition: all 0.2s linear;
  -moz-transition: all 0.2s linear;
  -o-transition: all 0.2s linear;
  -webkit-transition: all 0.2s linear;
}
.ChuyenMuc .thumbnail:hover img {
  transition: all 0.4s linear;
  -moz-transition: all 0.4s linear;
  -o-transition: all 0.4s linear;
  -webkit-transition: all 0.4s linear;
  transform: scale(1.3, 1.3);
}
.ChuyenMuc .thumbnail:hover .caption {
  transition: all 0.3s linear;
  -moz-transition: all 0.3s linear;
  -o-transition: all 0.3s linear;
  -webkit-transition: all 0.3s linear;
  opacity: 0.85;
}
.ChuyenMuc .thumbnail:hover .caption a {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 30%;
  padding: 0 10%;
  z-index: 10;
}
.ChuyenMuc .thumbnail:hover .caption a h3 {
  color: white;
}
.ChuyenMuc .post-big a .preview {
  width: 100%;
  height: 250px;
}
.ChuyenMuc .post-big a .caption {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 1;
  transition: all 0.2s linear;
  -moz-transition: all 0.2s linear;
  -o-transition: all 0.2s linear;
  -webkit-transition: all 0.2s linear;
}
.ChuyenMuc .post-big a .caption .post-title {
  position: absolute;
  top: 45%;
  left: 35%;
  z-index: 22;
  color: red;
  font-size: 200%;
}
.ChuyenMuc .post-big a:hover .caption {
  transition: all 0.2s linear;
  -moz-transition: all 0.2s linear;
  -o-transition: all 0.2s linear;
  -webkit-transition: all 0.2s linear;
  background-color: orangered;
  opacity: 0.8;
}
.ChuyenMuc .post-big a:hover .caption .post-title {
  color: white;
  z-index: 999;
}
/********************** End Chuyên Mục - Trang Chủ *************************************/
/********************** Chương Trình Học ***********************************/
.HocTiengAnh .thumbnail {
  padding: 5% 10%;
  transition: all 0.3s linear;
  -moz-transition: all 0.3s linear;
  -o-transition: all 0.3s linear;
  -webkit-transition: all 0.3s linear;
}
.HocTiengAnh .thumbnail:hover {
  transition: all 0.3s linear;
  -moz-transition: all 0.3s linear;
  -o-transition: all 0.3s linear;
  -webkit-transition: all 0.3s linear;
  background-color: orange;
}
/********************** End Chương Trình Học ***********************************/
/*********************** Footer *************************************/
footer {
  background-color: #d10000;
  padding: 60px 0 20px 0;
}
footer .footer-widgets .title {
  color: white !important;
}
footer .footer-widgets .head-line {
  background-color: white;
}
footer .widget-news a {
  color: white !important;
}
footer .widget-contact p {
  color: white;
}
footer .copyright {
  color: white;
  margin-top: 60px;
}
/*********************** End Footer *************************************/
/*********************** Google Maps **************************/
#LienHe #Map {
  height: 350px;
  margin-bottom: 30px;
}
#LienHe #Map .embed-responsive {
  height: 350px;
}
#LienHe #Map iframe {
  height: 350px;
}
/*********************** End Google Maps **********************/
/************************ Background Title ***************************/
/* bg orange */
.bg-orange {
  border-bottom: 2px solid orangered;
  margin-bottom: 20px;
}
.bg-orange .title-part {
  color: white;
  background-color: orangered;
  padding: 5px 13px 0 13px;
}
/* bg black */
.bg-black {
  border-bottom: 2px solid black;
  margin-bottom: 20px;
}
.bg-black .title-part {
  color: white;
  background-color: black;
  padding: 5px 13px 0 13px;
}
/* bg green */
.bg-green {
  border-bottom: 2px solid #2ecc71;
  margin-bottom: 20px;
}
.bg-green .title-part {
  color: white;
  background-color: #2ecc71;
  padding: 5px 13px 0 13px;
}
/* bg red */
.bg-red {
  border-bottom: 2px solid #e74c3c;
  margin-bottom: 20px;
}
.bg-red .title-part {
  color: white;
  background-color: #e74c3c;
  padding: 5px 13px 0 13px;
}
/* bg sky */
.bg-sky {
  border-bottom: 2px solid #3498db;
  margin-bottom: 20px;
}
.bg-sky .title-part {
  color: white;
  background-color: #3498db;
  padding: 5px 13px 0 13px;
}
/************************ End Background Title ***************************/
/* Post Big */
.post-big {
  width: 100%;
  position: relative;
  overflow: hidden;
  margin-bottom: 30px;
}
.post-big a {
  width: 100%;
  height: 100%;
  z-index: 1;
}
.post-big a .preview {
  width: 100%;
  height: 250px;
}
.post-big a .caption {
  position: absolute;
  z-index: 10;
  bottom: 10px;
  left: 20px;
}
.post-big a .caption .post-title,
.post-big a .caption .post-date {
  color: white;
}
.post-big a .caption .post-date {
  font-size: 14px;
}
.post-big a img {
  transition: all 0.3s linear;
  -moz-transition: all 0.3s linear;
  -o-transition: all 0.3s linear;
  -webkit-transition: all 0.3s linear;
  opacity: 1;
}
.post-big a:hover img {
  transition: all 0.3s linear;
  -moz-transition: all 0.3s linear;
  -o-transition: all 0.3s linear;
  -webkit-transition: all 0.3s linear;
  transform: scale(1.1, 1.1);
}
/* End Post Big */
/* Breadcrums */
.breadcrumb {
  background-color: white;
  padding: 0;
}
/* End Breadcrums */
/* Sidebar */
.sidebar-widgets {
  margin-bottom: 60px;
}
/* Bài viết chi tiết */
.post-detail .post-title {
  margin-bottom: 10px;
}
.post-detail .share-buttons {
  margin: 10px 0;
}
.post-detail .post-content {
  line-height: 26px;
}
.post-detail .fb-comments {
  margin: 30px 0;
}
/* Albums */
#owl-album-1 .item {
  position: relative;
  margin: 3px;
}
#owl-album-1 .item img {
  display: block;
  width: 100%;
  height: auto;
}
#owl-album-1 .item a {
  width: 100%;
  height: 100%;
  transition: all 0.3s linear;
  -moz-transition: all 0.3s linear;
  -o-transition: all 0.3s linear;
  -webkit-transition: all 0.3s linear;
}
#owl-album-1 .item a i {
  position: absolute;
  top: 40%;
  left: 40%;
  opacity: 0;
}
#owl-album-1 .item a:hover i {
  transition: all 0.2s linear;
  -moz-transition: all 0.2s linear;
  -o-transition: all 0.2s linear;
  -webkit-transition: all 0.2s linear;
  opacity: 1;
  color: white;
}
#owl-album-1 .item a:hover img {
  transition: all 0.2s linear;
  -moz-transition: all 0.2s linear;
  -o-transition: all 0.2s linear;
  -webkit-transition: all 0.2s linear;
  opacity: 0.7;
}
/* error-page */
.error-page {
  padding: 180px 0;
}
.error-page .txt-number {
  font-size: 160px;
  line-height: 140px;
  font-weight: 700;
  color: #333;
}
.error-page .txt-notfound {
  font-size: 64px;
  line-height: 70px;
  font-weight: 300;
}
.error-page .txt-sorry {
  font-size: 22px;
  line-height: 28px;
  color: #666;
  margin-bottom: 25px;
}
#TrangChu section {
  margin-bottom: 30px;
}
.notes {
  color: red;
}
#Tintuc img {
  width: 100%;
  height: 200px;
}
#Tintuc .caption h4 {
  height: 50px;
}
.text-white {
  color: white;
}
#owl-album-1 .item .preview {
  width: 100%;
  height: 130px;
}
#owl-album-1 .item .preview img {
  width: 100%;
  height: 130px;
}
.post-detail .post-content {
  font-family: 'Roboto', sans-serif;
}
.post-related .post-vertical .preview {
  width: 100%;
  height: 150px;
}
.post-related .post-vertical .preview img {
  width: 100%;
  height: 150px;
}
