@media screen and (min-width: 768px) {
  /*----------------------------------------------------*/
  /*	General Class
    /*----------------------------------------------------*/
  .title {
    font-size: 130%;
  }
  .path {
    margin-top: 1%;
  }
  .widget-viewest .post-horizontal .post-title a {
    font-size: 60%;
    line-height: 110%;
  }
  .post-vertical {
    max-height: 200%;
  }
  .post-vertical .post-title {
    font-size: 100%;
    line-height: 160%;
  }
  footer .widget-fanpage .fb-page {
    width: 100%;
  }
  .modal-lg {
    width: 400px;
  }
  .modal-lg .popup {
    width: 400px;
  }
  /*----------------------------------------------------*/
  /*	Menu & Footer
    /*----------------------------------------------------*/
  div.navbar {
    background-color: white;
    /*border: 1px solid black;*/
  }
  div.navbar .navbar-header {
    /*border: 1px solid green;
            background-color: green;*/
    width: 15%;
    /*width:100px;*/
    float: left;
  }
  div.navbar .navbar-header .navbar-header {
    /*border: 1px solid red;*/
  }
  div.navbar .navbar-header .logo {
    width: 100%;
    /*border: 1px solid yellow;*/
  }
  div.navbar .navbar-collapse {
    margin-top: 1%;
  }
  div.navbar ul.nav li .fa-home {
    margin-top: -20%;
  }
  div.navbar ul.nav li > a {
    font-size: 60%;
    font-weight: 400;
    padding-left: 2px;
    padding-right: 2px;
    text-transform: uppercase;
  }
  div.navbar ul.nav li.dropdown > ul.dropdown-menu {
    margin-top: -12%;
  }
  div.navbar ul.nav li.dropdown > ul.dropdown-menu li {
    width: 100%;
  }
  div.navbar ul.nav li.dropdown > ul.dropdown-menu li a {
    width: 100%;
    padding-left: 5%;
    font-size: 80%;
  }
  div.navbar.navbar-fixed-top {
    background-color: white;
    /*border: 1px solid black;*/
  }
  div.navbar.navbar-fixed-top .navbar-header {
    /*border: 1px solid green;
            background-color: green;*/
    width: 15%;
    /*width:100px;*/
    float: left;
  }
  div.navbar.navbar-fixed-top .navbar-header .navbar-header {
    /*border: 1px solid red;*/
  }
  div.navbar.navbar-fixed-top .navbar-header .logo {
    width: 100%;
    /*border: 1px solid yellow;*/
  }
  div.navbar.navbar-fixed-top .navbar-collapse {
    margin-top: 1%;
  }
  div.navbar.navbar-fixed-top ul.nav li .fa-home {
    margin-top: -20%;
  }
  div.navbar.navbar-fixed-top ul.nav li > a {
    font-size: 60%;
    font-weight: 400;
    padding-left: 2px;
    padding-right: 2px;
    text-transform: uppercase;
  }
  div.navbar.navbar-fixed-top ul.nav li.dropdown > ul.dropdown-menu {
    margin-top: -12%;
  }
  div.navbar.navbar-fixed-top ul.nav li.dropdown > ul.dropdown-menu li {
    width: 100%;
  }
  div.navbar.navbar-fixed-top ul.nav li.dropdown > ul.dropdown-menu li a {
    width: 100%;
    padding-left: 5%;
    font-size: 80%;
  }
  footer .widget-fanpage .fb-page {
    width: 250px;
  }
  /*----------------------------------------------------*/
  /*	Trang Chủ
    /*----------------------------------------------------*/
  #TrangChu .HocTiengAnh .thumbnail {
    min-height: 200%;
  }
  #TrangChu .ChuyenMuc .thumbnail .preview {
    height: 80%;
  }
  #TrangChu .ChuyenMuc .thumbnail .preview img {
    height: 200px;
    width: 100%;
  }
  #TrangChu .ChuyenMuc .thumbnail .fa {
    left: 45%;
  }
  #TrangChu .ChuyenMuc .thumbnail .post-title {
    font-size: 120%;
  }
  #TrangChu #Tintuc .preview {
    height: 150px;
  }
  #TrangChu #Tintuc .preview img {
    height: 150px;
    width: 100%;
  }
  #TrangChu #Tintuc .caption .post-title {
    height: 60px;
  }
  #TrangChu #Sukien .post .preview {
    height: 140px;
  }
  #TrangChu #Sukien .post .preview img {
    height: 140px;
    width: 100%;
  }
  #TrangChu #Sukien .post .post-title {
    font-size: 100%;
    color: white;
    height: 60px;
    line-height: 120%;
  }
  #TrangChu #Sukien .post .caption {
    background-color: #3498db;
  }
  #TrangChu #Sukien .item {
    padding-left: 5px;
    padding-right: 5px;
  }
  #TrangChu #Nhanqua .khauhieu {
    font-size: 150%;
  }
  /*----------------------------------------------------*/
  /*	Giới Thiệu
    /*----------------------------------------------------*/
  #GioiThieu [class^="col"] {
    margin-bottom: 1%;
  }
  #GioiThieu .HocTiengAnh {
    margin-top: 2%;
    margin-bottom: 2%;
  }
  #GioiThieu .HocTiengAnh .thumbnail {
    min-height: 400px;
  }
  #GioiThieu .HocTiengAnh .thumbnail .tieude {
    height: 50px;
  }
  #GioiThieu .HocTiengAnh .thumbnail .meta {
    display: -webkit-box;
    -webkit-line-clamp: 4;
    -webkit-box-orient: vertical;
    overflow: hidden;
    height: 100px;
  }
  /*----------------------------------------------------*/
  /*	Tin Tức
    /*----------------------------------------------------*/
  #TinTuc [class^="col"] {
    margin-bottom: 2%;
  }
  #TinTuc .post-vertical {
    max-height: 200%;
  }
  #TinTuc .post-vertical .post-title {
    font-size: 100%;
  }
  /*----------------------------------------------------*/
  /*	Albums
    /*----------------------------------------------------*/
  #Albums .widget-viewest .post-title a {
    font-size: 80%;
    line-height: 80%;
  }
  /*----------------------------------------------------*/
  /*	Xem Nhiều
    /*----------------------------------------------------*/
  #XemNhieu .main [class^="col"] {
    margin-bottom: 2%;
  }
  /*----------------------------------------------------*/
  /*	Chuyên Mục
    /*----------------------------------------------------*/
  #ChuyenMuc .post-vertical {
    max-height: 100%;
  }
  #ChuyenMuc .post-vertical img {
    height: 50%;
    width: 100%;
  }
}
@media screen and (min-width: 1024px) {
  /*----------------------------------------------------*/
  /*	General Class
    /*----------------------------------------------------*/
  .title {
    font-size: 130%;
  }
  .path {
    margin-top: 1%;
  }
  .widget-viewest .post-horizontal .post-title a {
    font-size: 60%;
    line-height: 110%;
  }
  .post-vertical {
    max-height: 200%;
  }
  .post-vertical .post-title {
    font-size: 100%;
    line-height: 160%;
  }
  footer .widget-fanpage .fb-page {
    width: 100%;
  }
  .modal-lg {
    width: 600px;
  }
  .modal-lg .popup {
    width: 600px;
  }
  /*----------------------------------------------------*/
  /*	Menu & Footer
    /*----------------------------------------------------*/
  div.navbar {
    background-color: white;
    /*border: 1px solid black;*/
  }
  div.navbar .navbar-header {
    /*border: 1px solid green;
            background-color: green;*/
    width: 15%;
    /*width:100px;*/
    float: left;
  }
  div.navbar .navbar-header .navbar-header {
    /*border: 1px solid red;*/
  }
  div.navbar .navbar-header .logo {
    width: 100%;
    /*border: 1px solid yellow;*/
  }
  div.navbar .navbar-collapse {
    margin-top: 1%;
  }
  div.navbar ul.nav li .fa-home {
    margin-top: -20%;
  }
  div.navbar ul.nav li > a {
    font-size: 80%;
    font-weight: 400;
    padding-left: 7px;
    padding-right: 7px;
    text-transform: uppercase;
  }
  div.navbar ul.nav li.dropdown > ul.dropdown-menu {
    margin-top: 0;
  }
  div.navbar ul.nav li.dropdown > ul.dropdown-menu li {
    width: 100%;
  }
  div.navbar ul.nav li.dropdown > ul.dropdown-menu li a {
    width: 100%;
    padding-left: 5%;
    font-size: 80%;
  }
  div.navbar.navbar-fixed-top {
    background-color: white;
    /*border: 1px solid black;*/
  }
  div.navbar.navbar-fixed-top .navbar-header {
    /*border: 1px solid green;
            background-color: green;*/
    width: 15%;
    /*width:100px;*/
    float: left;
  }
  div.navbar.navbar-fixed-top .navbar-header .navbar-header {
    /*border: 1px solid red;*/
  }
  div.navbar.navbar-fixed-top .navbar-header .logo {
    width: 100%;
    /*border: 1px solid yellow;*/
  }
  div.navbar.navbar-fixed-top .navbar-collapse {
    margin-top: 1%;
  }
  div.navbar.navbar-fixed-top ul.nav li .fa-home {
    margin-top: -20%;
  }
  div.navbar.navbar-fixed-top ul.nav li > a {
    font-size: 80%;
    font-weight: 400;
    padding-left: 7px;
    padding-right: 7px;
    text-transform: uppercase;
  }
  div.navbar.navbar-fixed-top ul.nav li.dropdown > ul.dropdown-menu {
    margin-top: 0;
  }
  div.navbar.navbar-fixed-top ul.nav li.dropdown > ul.dropdown-menu li {
    width: 100%;
  }
  div.navbar.navbar-fixed-top ul.nav li.dropdown > ul.dropdown-menu li a {
    width: 100%;
    padding-left: 5%;
    font-size: 80%;
  }
  /*----------------------------------------------------*/
  /*	Trang Chủ
    /*----------------------------------------------------*/
  #TrangChu .ChuyenMuc .thumbnail .preview {
    height: 200px;
  }
  #TrangChu .ChuyenMuc .thumbnail .preview img {
    height: 200px;
    width: 100%;
  }
  #TrangChu .ChuyenMuc .thumbnail .fa {
    left: 45%;
  }
  #TrangChu .ChuyenMuc .thumbnail .post-title {
    font-size: 120%;
  }
  #TrangChu #Tintuc .preview {
    height: 150px;
  }
  #TrangChu #Tintuc .preview img {
    height: 150px;
    width: 100%;
  }
  #TrangChu #Tintuc .caption .post-title {
    height: 60px;
    font-size: 90%;
    line-height: 130%;
  }
  #TrangChu #Sukien .preview {
    height: 130px;
  }
  #TrangChu #Sukien .preview img {
    height: 130px;
    width: 100%;
  }
  /*----------------------------------------------------*/
  /*	Lịch Khai Giảng
    /*----------------------------------------------------*/
  #LichKhaiGiang .post-vertical .preview {
    height: 40%;
  }
  #LichKhaiGiang .post-vertical .preview img {
    height: 120px;
    width: 100%;
  }
  /*----------------------------------------------------*/
  /*	Tin Tức
    /*----------------------------------------------------*/
  #TinTuc .post-vertical {
    height: 320px;
  }
  #TinTuc .post-vertical .post-title {
    font-size: 90%;
    line-height: 130%;
  }
  /*----------------------------------------------------*/
  /*	Chi Tiết
    /*----------------------------------------------------*/
  #ChiTiet .post-detail .post-title {
    line-height: 130%;
  }
  /*----------------------------------------------------*/
  /*	Kết Quả Tìm Kiếm
    /*----------------------------------------------------*/
  #KetQuaTimKiem .post-vertical {
    height: 320px;
  }
  #KetQuaTimKiem .post-vertical .post-title {
    font-size: 90%;
    line-height: 130%;
  }
  /*----------------------------------------------------*/
  /*	Xem Nhiều
    /*----------------------------------------------------*/
  #XemNhieu .post-vertical .post-title {
    font-size: 90%;
    line-height: 130%;
  }
}
@media screen and (min-width: 1200px) {
  /*----------------------------------------------------*/
  /*	General Class
    /*----------------------------------------------------*/
  .title {
    font-size: 130%;
  }
  .path {
    margin-top: 1%;
  }
  .widget-viewest .post-horizontal .post-title a {
    font-size: 60%;
    line-height: 110%;
  }
  .post-vertical {
    max-height: 300%;
  }
  .post-vertical .post-title {
    font-size: 100%;
    line-height: 160%;
  }
  footer .widget-fanpage .fb-page {
    width: 100%;
  }
  /*----------------------------------------------------*/
  /*	Menu & Footer
    /*----------------------------------------------------*/
  div.navbar {
    background-color: white;
    /*border: 1px solid black;*/
  }
  div.navbar .navbar-header {
    /*border: 1px solid green;
            background-color: green;*/
    width: 15%;
    /*width:100px;*/
    float: left;
  }
  div.navbar .navbar-header .navbar-header {
    /*border: 1px solid red;*/
  }
  div.navbar .navbar-header .logo {
    width: 100%;
    /*border: 1px solid yellow;*/
  }
  div.navbar .navbar-collapse {
    margin-top: 1%;
  }
  div.navbar ul.nav li .fa-home {
    margin-top: -20%;
  }
  div.navbar ul.nav li > a {
    font-size: 100%;
    font-weight: 400;
    padding-left: 10px;
    padding-right: 10px;
    text-transform: uppercase;
  }
  div.navbar ul.nav li.dropdown > ul.dropdown-menu {
    margin-top: 0;
  }
  div.navbar ul.nav li.dropdown > ul.dropdown-menu li {
    width: 100%;
  }
  div.navbar ul.nav li.dropdown > ul.dropdown-menu li a {
    width: 100%;
    padding-left: 5%;
    font-size: 100%;
  }
  div.navbar.navbar-fixed-top {
    background-color: white;
    /*border: 1px solid black;*/
  }
  div.navbar.navbar-fixed-top .navbar-header {
    /*border: 1px solid green;
            background-color: green;*/
    width: 15%;
    /*width:100px;*/
    float: left;
  }
  div.navbar.navbar-fixed-top .navbar-header .navbar-header {
    /*border: 1px solid red;*/
  }
  div.navbar.navbar-fixed-top .navbar-header .logo {
    width: 100%;
    /*border: 1px solid yellow;*/
  }
  div.navbar.navbar-fixed-top .navbar-collapse {
    margin-top: 1%;
  }
  div.navbar.navbar-fixed-top ul.nav li .fa-home {
    margin-top: -20%;
  }
  div.navbar.navbar-fixed-top ul.nav li > a {
    font-size: 100%;
    font-weight: 400;
    padding-left: 10px;
    padding-right: 10px;
    text-transform: uppercase;
  }
  div.navbar.navbar-fixed-top ul.nav li.dropdown > ul.dropdown-menu {
    margin-top: 0;
  }
  div.navbar.navbar-fixed-top ul.nav li.dropdown > ul.dropdown-menu li {
    width: 100%;
  }
  div.navbar.navbar-fixed-top ul.nav li.dropdown > ul.dropdown-menu li a {
    width: 100%;
    padding-left: 5%;
    font-size: 100%;
  }
  /*----------------------------------------------------*/
  /*	Trang Chủ
    /*----------------------------------------------------*/
  #TrangChu #Tintuc .post-title {
    font-size: 120%;
  }
  #TrangChu .ChuyenMuc .thumbnail .preview {
    height: 270px;
  }
  #TrangChu .ChuyenMuc .thumbnail .preview img {
    height: 270px;
    width: 100%;
  }
  #TrangChu .ChuyenMuc .thumbnail .post-title {
    font-size: 130%;
  }
  /*----------------------------------------------------*/
  /*	Chuyên Mục
    /*----------------------------------------------------*/
  #ChuyenMuc .main .post-vertical .preview {
    height: 170px;
  }
  #ChuyenMuc .main .post-vertical .preview img {
    height: 170px;
    width: 100%;
  }
  #ChuyenMuc .main .post-vertical .post-title {
    font-size: 120%;
  }
  #ChuyenMuc .main [class^="col"] {
    margin-bottom: 4%;
  }
  /*----------------------------------------------------*/
  /*	Lịch Khai Giảng
    /*----------------------------------------------------*/
  #LichKhaiGiang .main .post-vertical {
    height: 300px;
  }
  #LichKhaiGiang .main .post-vertical .preview {
    height: 150px;
    overflow: hidden;
  }
  #LichKhaiGiang .main .post-vertical .preview img {
    height: 150px;
    width: 100%;
  }
  /*----------------------------------------------------*/
  /*	Giới Thiệu
    /*----------------------------------------------------*/
  #GioiThieu [class^="col"] {
    margin-bottom: 1%;
  }
  #GioiThieu .HocTiengAnh {
    margin-top: 2%;
    margin-bottom: 2%;
  }
  #GioiThieu .HocTiengAnh .item {
    padding: 0 2%;
  }
  #GioiThieu .HocTiengAnh .thumbnail {
    min-height: 400px;
  }
  #GioiThieu .HocTiengAnh .thumbnail .tieude {
    height: 80px;
  }
  #GioiThieu .HocTiengAnh .thumbnail .meta {
    display: -webkit-box;
    -webkit-line-clamp: 4;
    -webkit-box-orient: vertical;
    overflow: hidden;
    height: 100px;
  }
}
