@import url(https://fonts.googleapis.com/css?family=Roboto:400,100,100italic,300,300italic,400italic,500,900italic,900,700italic,700,500italic&subset=latin,vietnamese);

body {
    font-family: 'Roboto', sans-serif;
    font-size: 16px;
    line-height: 21px;
    font-weight: 300;
    color: black;
}

strong, b {
    font-weight: 600;
}

img {
    max-width: 100%;
    height: auto;
}

ul, ol {
    list-style: none;
}

ul {
    padding: 0;
    margin: 0;
}

a {
    transition: color 0.2s ease-in-out;
    -moz-transition: color 0.2s ease-in-out;
    -webkit-transition: color 0.2s ease-in-out;
    -o-transition: color 0.2s ease-in-out;
}

    a:hover {
        color: #444;
    }

    a, a:hover {
        text-decoration: none;
    }

i {
    font-size: 1.1em;
}

h1, h2, h3, h4, h5, h6 {
    font-family: 'Roboto', sans-serif;
    font-weight: 700;
    margin: 0;
    color: #444;
}

h1 {
    font-size: 30px;
    line-height: 30px;
}

h2 {
    font-size: 24px;
    line-height: 28px;
}

h3 {
    font-size: 20px;
    line-height: 24px;
}

h4 {
    font-size: 18px;
    line-height: 22px;
}

h5 {
    font-size: 16px;
    line-height: 20px;
}

h6 {
    font-size: 14px;
    line-height: 18px;
}

p {
    color: black;
    font-size: 18px;
    font-family: 'Roboto', sans-serif;
    line-height: 26px;
    font-weight: 400;
    margin: 5px 0;
}

    p strong {
        font-weight: 600;
    }



/*====================Owl Carousel===========================*/
#owl-hoctienganh .item {
    margin: 3px;
}

    #owl-hoctienganh .item img {
        display: block;
        width: 100%;
        height: auto;
    }
/*====================End Owl Carousel===========================*/



/********************* Sự Kiện - Trang Chủ *******************************/
#Sukien .thumbnail {
    margin-bottom: 0;
}

#Sukien .carousel-control.left, .carousel-control.right {
    background-image: none !important;
}

#Sukien .carousel-control {
    color: #fff;
    top: 40%;
    color: #428BCA;
    bottom: auto;
    padding-top: 4px;
    width: 30px;
    height: 30px;
    text-shadow: none;
    opacity: 1;
}

    #Sukien .carousel-control:hover {
        color: #d9534f;
    }

    #Sukien .carousel-control.left, .carousel-control.right {
        background-image: none !important;
    }

    #Sukien .carousel-control.right {
        left: auto;
        right: -32px;
    }

    #Sukien .carousel-control.left {
        right: auto;
        left: -32px;
    }

#Sukien .carousel-indicators {
    bottom: -30px;
}

    #Sukien .carousel-indicators li {
        border-radius: 0;
        width: 10px;
        height: 10px;
        background: #ccc;
        border: 1px solid #ccc;
    }

    #Sukien .carousel-indicators .active {
        width: 12px;
        height: 12px;
        background: #3276b1;
        border-color: #3276b1;
    }
/********************* End Sự Kiện *******************************/


/********************* Tin Tức - Trang Chủ *******************************/
#Tintuc .carousel-indicators {
  bottom: -40px;
  left: 0;
  width: 100%;
  background: #ccc;
  padding: 6px 0px;
  margin-left: 0;
  border-top: 2px solid #fff;
}
#Tintuc .carousel-indicators li {
  width: 12px;
  height: 12px;
  background: #fff;
  border-color: #fff;
}
#Tintuc .carousel-indicators .active {
  width: 14px;
  height: 14px;
  background: #428bca;
  border-color: #428bca;
}
#Tintuc .carousel-inner .thumbnail {
  margin-bottom: 0;
  border-bottom-left-radius: 0;
  border-bottom-right-radius: 0;
}
#Tintuc .carousel-inner .caption {
  background: #ddd;
  padding: 10px;
}
/********************* End Tin Tức *******************************/